:root {
    --index: calc(1vw + 1vh);
}
*{
  font-family: "Arimo", sans-serif;
  font-size: calc(var(--index)*2.5);
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: 0px;
  margin: 0px;
  color: #000;
  font-weight: 500;
}


html,body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    padding: 0px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: space-between;
    background:url("media/bg.bmp");
    background-size: cover;
    background-repeat: no-repeat;
}

video {
    border-radius: 20px;
    width: calc(var(--index)*35);
}


.aphish {
    padding-top: 20px;
    z-index: -1;
    width: 90%;
    height: auto;
    border-radius: 10px;
    width: calc(var(--index)*30);
}
.aphish img {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.aboutus {
    display: block;
    padding: 15px;
    margin: 5px 0px 5px 0px;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;


}

video {
    width: 100%;
    height: 90%;
}

.vid {
    margin: 5px 0px 0px 0px;
}

.vid {
    align-items: center;
    
}

.vid,.vid video {
    width: 100%;
    
}

.vid video {
    max-width: 850px;
    border-radius: 40px;

}
.soc {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    padding: 10px;
    justify-content: center;

}   
.soc a {
    transition: all .1s linear;
}
.soc a img {
    width: calc(var(--index)*10); 
}







.black {
    padding: 5px 0px 5px 0px;
    background: rgba(0,0,0,.2);
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
    overflow: hidden;
    margin: 10px auto;
    display: block;
    position: relative;
    border-radius: 0px;
}

.gallery {
    scroll-snap-type: x mandatory;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    gap: 10px;
    border-radius: 30px;
    height: calc(var(--index)*40);
    overflow-y: hidden;
    overflow-x: auto;
    margin: auto;
}
.scrbar {
    z-index: 2;
    position:sticky;
    display: flex;
    width: 100%;
    height: 10px;
    border-radius: 30px;
    background-color: red;
    top: 0px;
    left: 10%;
}

.photo {
    scroll-snap-align: start;
    position: relative;
    flex-shrink: 0;
    width: 90%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.move {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: rgba(0,0,0,.2);
    top: 0px;

}
.back {
    left: 0px;
}
.rrok {
    right: 0px;
}



.gallery * {
    border-radius: 30px;
}

@keyframes sc {
    0%{}
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}