:root {
    --index: calc(1vw + 1vh);
    --border: 2px black solid;
}
*{
  font-family: "Arimo", sans-serif;
  font-size: calc(var(--index)*2.5);
  font-weight: 700;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: 0px;
  margin: 0px;
  color: #000;
  font-weight: 500;
}


html,body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    padding: 0px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    background:url("media/bg.bmp");
    background-size: cover;
    background-repeat: no-repeat;
}

video {
    border-radius: 20px;
    width: calc(var(--index)*35);
}
.vidd {
    position: relative;
}

.imgmute {
    position: absolute;
    display: block;
    z-index: 99;
    width: calc(var(--index)*5);
    height: calc(var(--index)*5);
    right: 20px;
    top: 10px;  
    background-image: url("media/nonoize.png");
    background-size: cover;
    background-position: center;
    opacity: .3;
}


.aphish {
    padding-top: 20px;
    z-index: -1;
    width: 90%;
    height: auto;
    border-radius: 10px;
    width: calc(var(--index)*30);
}
.aphish img {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.aboutus {
    display: block;
    padding: 15px;
    margin: 5px 0px 5px 0px;



}

video {
    width: 100%;
    height: 90%;
}

.vid {
    margin: 5px 0px 0px 0px;
}

.vid {
    align-items: center;
    
}

.vid,.vid video {
    width: 100%;
    
}

.vid video {
    max-width: 850px;
    border-radius: 40px;

}
.soc {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;

    padding: 10px;
    justify-content: center;

}   
.soc a {
    transition: all .1s linear;
}
.soc a img {
    width: calc(var(--index)*10); 
}



.gal {
    position: relative;
    width: 100%;
    height: auto;
}

.scrolll {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,0);
    border-radius: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 5px;
}

.cbpart {
    background-color: rgba(255,255,255,0);
    border-radius: 30px;
    height: 30px;
    flex-grow: 1;
}




.black {
    padding: 5px 0px 5px 0px;
    background: rgba(0,0,0,0);
    overflow: hidden;
    margin: 0px auto;
    display: block;
    position: relative;
    border-radius: 0px;
}
.galname {
    
    padding: 10px;
}
.gallery {
    padding-top: 5px;
    margin: 20px 0;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    height: calc(var(--index)*40);
    overflow-y: hidden;
    overflow-x: auto;   

}
.cbvid {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


.photo {
    scroll-snap-align: center;
    position: relative;
    flex-shrink: 0;
    width: 70%;
    min-height: 99%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.prog {
    margin: 20px auto;
}
.prog .progname {


}
.progmain p {
    font-weight: 900;
    font-size: calc(var(--index)*10);
    letter-spacing: calc(var(--index)*10);
}
.progmain {
    transform-origin: 50% 50%;
    animation: eee 1.5s ease-in-out infinite alternate;
}

.prog {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.progs {
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px 10px;
    max-height: 600px;
    flex-wrap: wrap;

}
.progs img {
    width: 32%;
    height: auto;
    min-width: 10%;
}
.prt {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: auto;
}

@keyframes eee {
    0% {

    }

    100%{
        transform: rotate(160deg);
    }
}

@keyframes sc {
    0%{}
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}